<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Practice Javascript</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js"></script>
</head>
<body>
  <div id='app' v-cloak>
    <input type="text" v-model="userInput">
    <button v-on:click="addTodo">Add Todo</button>
    <ul>
      <li 
        v-for="todo in todos"
        v-on:click="removeTodo(todo)">{{ todo.value }}</li>
    </ul>
  </div>
</body>
</html>